<div class="item-list">
  <hr>
  <div class="price"><%= JST['items/_item_price']({ item: item }) %></div>
  <img src="<%= item.escape( 'photo_small') %>" alt="">
  <a href="/items/<%= item.id %>" class="name"><%= item.escape( 'name' ) %></a>
  <div class="description"><%= item.escape( 'description' ) %></div>
  <div class="rating"></div>
</div>