<div class="">
  <div class="item thumbnail span3" data-id="<%= item.id %>">
    <a href="/items/<%= item.id %>">
      <div class="photo">
        <img src="<%= item.escape( 'photo_medium' ) %>"  alt="">
      </div>
      <div class="caption">
        <div class="name"><%= item.escape( 'name' ) %></div>
        <div class="price"><%= JST['items/_item_price']({item: item}) %></div>
        <div class="rating"></div>
      </div>
    </a>
  </div>
</div>