<div class="">
  <div class="item thumbnail span3" data-id="<%= item.id %>">
    <a href="/items/<%= item.id %>">
      <div class="photo">
        <img src="<%= item.escape( 'photo_medium' ) %>"  alt="">
      </div>
      <div class="caption">
        <div class="name"><%= item.escape( 'name' ) %></div>
        <span class="price"><%= JST['items/_item_price']({item: item}) %></span>
        <span class="rating">
          <span class="star" data-id="1">☆</span>
          <span class="star" data-id="2">☆</span>
          <span class="star" data-id="3">☆</span>
          <span class="star" data-id="4">☆</span>
          <span class="star" data-id="5">☆</span>
        </span>
      </div>
    </a>
  </div>
</div>