<!-- /homes/:id  Inventory Page -->
<div class="inventory container">
  <div class="rentals">
    <% @items.sort.each do |item| %>
      <% next if item.rentals.empty? %>
      <div class="item well row">
        <div class="description span2">
          <div class="name"><%= item.name %></div>
          <div class="photo"><%= image_tag item.main_photo.photo.url(:small) %></div>
          <div class="price"><%= item.price == 0 ? "Free" : "$" + item.price %></div>
        </div>
        <!-- Backbone Rental Requests -->
        <ul class="request span8" id="<%= item.id %>"></ul>
      </div>
    <% end %>
  </div>
  <div class="item-index">
    <section class="all-items">
      <h1>Edit an Item</h1>
        <% @items.sort.each do |item| %>
        <div class="thumbnail well row span2">
          <div class="name"><%= item.name %></div>
          <div class="photo"><%= image_tag item.main_photo.photo.url(:small) %></div>
          <div class="price"><%= item.price == 0 ? "Free" : "$" + item.price %></div>
          <div class="category"><%= item.category.name %></div>
        </div>
      <% end %>
        <div class="thumbnail well row span2">
          <a class="new-item" href="<%= new_item_url %>">
            <img src="https://s3-us-west-1.amazonaws.com/loanittome-dev/item_photos/photos/default/thumbnail-default-image.jpg" alt="" class="new-item">
            <p>Add a New Item</p>
          </a>
        </div>
    </section>
  </div>
</div>



<%= render partial: "homes/form" %>
<br>
<p>or type it out the long way</p>
<h6>this way currently doesn't work</h6>
<form action="<%= home_url(@home) %>" class="home edit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="home_street" class="">Street</label>
  <input type="text" name="home[street]" id="home_street" value="<%= @home.street %>">
  <label for="home_city" class="">City</label>
  <input type="text" name="home[city]" id="home_city" value="<%= @home.city %>">
  <label for="home_state" class="">State</label>
  <input type="text" name="home[state]" id="home_state" value="<%= @home.state %>">
  <label for="home_zipcode" class="">Zipcode</label>
  <input type="text" name="home[zipcode]" id="home_zipcode" value="<%= @home.zipcode %>">
  <input type="submit" value="update">
</form>

<script id="bootstrapped-rentals">
$(document).ready(function() {
    var homeData = <%= j @home_items_requests.to_json.html_safe %>;
    //var home = new LoanItToMe.Models.Home(homeData, {parse: true} );
    var options = { 
      $rootEl: $('.requests'),
      bootstrap: homeData,
    };
    LoanItToMe.initialize(options);
  });
</script>
