<!-- /items/:id  Item Detail Page -->
<div class="item-detail">

  <div class="hero row">
    <div class="photo span3">
      <%= image_tag @item.main_photo.photo.url(:big) %>
    </div>
    <div class="description span3">
      <h1 class="name"><%= @item.name %></h1>
      <p><%= @item.description %></p>
    </div>
    <div class="value span3">
      <p><%= @item.price > 0 ? number_to_currency( @item.price ) : "Free" %></p>
      <p><%= @item.avg_rating %></p>
    </div>
  </div>


  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
      <li class=""><a href="#calendar" data-toggle="tab">Calendar</a></li>
      <li class=""><a href="#owner" data-toggle="tab">Owner</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="reviews">
        <% @item.reviews.each do |review| %>
          <div class="review row">
            <div class="reviewer span1">
              <div class="user-photo"></div>
              <div class="name"><%= review.author.username %> </div>
            </div>
            <div class="review-content well span5">
              <span class="title"><%= review.title %> </span>
              <div class="rating" data-id='<%= review.rating.round %>'></div>
              <p class="body"><%= review.body %> </p>
            </div>
          </div>
        <% end %>
      </div> <!-- /.tab-pane -->

      <div class="tab-pane" id="calendar">
        <input type="date">
        
        <button>Rent Me</button>
      </div>

      <div class="tab-pane" id="owner">
        <%= render partial: "layouts/user", locals: { user: @item.owner } %>
      </div>
    </div> <!-- /.tab content -->
  </div> <!-- /.tabbable -->
</div> <!-- /.item-detail -->

<script type="text/javascript">
$(document).ready(function() {
  var itemDetail = new LoanItToMe.Views.ItemDetailPage({ el: $('.item-detail') });
  itemDetail.render();
});
</script>
