<!DOCTYPE html>
<html>
<head>
  <title>LoanItToMe</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&sensor=false">
</script>
</head>
<body>

<!-- Flash Notices -->
<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <div class="error"><%= msg %></div>
  <% end %>
<% end %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
